               <div class="right__recommended">
                    
                    <a class="aylana-label" href="#"><span>Eng kop muhokama qilinganlar</span></a>
                    <ul>
                        {% for post in posts %}
                        <li class="right__news_lenta"><a href="{{ post.get_absolute_url }}">
                            <div><span class="time-ui">{{ post.created_at }}</span></div>
                            <p>{{ post.title }}</p>
                        
                            {% endfor %}
                    </ul>
                </div>