{% extends 'base.html' %}
{% load blog_tags %}
{% load static %}

{% block title %} title1 {% endblock %}

{% block content %}

<main>
    <section class="top-news">
        <div class="top-news__center">

            <a class="center-news__big" href="{{ latest_post.get_absolute_url }}">
                <img class="big-news__img" src="{{ latest_post.photo.url }}" alt="">
                <div class="big-news__content">
                    <div><span class="time-ui">{{ latest_post.created_at|date:'d/m/Y | f' }}</span></div>
                    <p>{{ latest_post.title }}</p>
                    <p>{{ latest_post.subtitle }} </p>
                </div>
            </a>

            <div class="center-news__grid">
                {% for maqola in last6 %}
                <a href="{{ maqola.get_absolute_url }}">
                    {% if maqola.photo %}
                    <img src="{{ maqola.photo.url }}" alt="">
                    {% endif %}
                    <div class="center-news__grid-content">
                        <div><span class="time-ui">{{maqola.created_at|date:"d/m/Y| f"}}</span></div>
                        <p>{{ maqola.title | slice:"100" }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>


        </div>
        {% most_viewed %}
    </section>

    <section class="lower-part">
        
        <div class="maqolalar-news">
            
            <a class="aylana-label" href="#"><span>Maqolalar</span></a>
            <div class="maqolalar-container">
                {% for maqola in maqolalar %}
                <a href="{{ maqola.get_absolute_url }}">
                    <img src="{{ maqola.photo.url }}" alt="">
                    <div class="maqolalar-container__content">
                        <h5>{{ maqola.title }}</h5>
                        <p>{{ maqola.body | slice:"350" }}</p>
                    </div>
                </a>
                {% endfor %}
            
            </div>
           <div class ='paginator'> {% include "paginator.html" with page=maqolalar %}</div>
        </div>



        <div class="biznes-news">
            <div class="biznes-news__head">
                <a class="aylana-label" href="#"><span>Biznes</span></a>
            </div>
            <div class="biznes-carousel">
                <div class="carousel" data-flickity='{ "groupCells": 4 }'>

                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="{% static 'images/b2 (1).jpg' %}" alt="" srcset="">
                            </div>
                            <div class="carousel-content">
                                Базалт геосеткаси ва базалт иссиқлик сақловчи плиталари билан янада мустаҳкам
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="{% static 'images/b2 (2).jpg' %}" alt="" srcset="">
                            </div>
                            <div class="carousel-content">
                                Mobiuz юртимиздаги офислари тармоғини янгилашда давом этмоқда
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="{% static 'images/b2 (3).jpg' %}" alt="" srcset="">
                            </div>
                            <div class="carousel-content">
                                Тошкентда уч қитъани бирлаштирган чарм-пойабзал кўргазмаси иш бошлади
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="{% static 'images/b2 (4).jpg' %}" alt="" srcset="">
                            </div>
                            <div class="carousel-content">
                                Tenge Business: Бизнесингизни онлайн бошқаринг
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="./source/b2 (3).jpg" alt="" srcset="">
                            </div>
                            <div class="carousel-content">
                                Базалт геосеткаси ва базалт иссиқлик сақловчи плиталари билан янада мустаҳкам
                            </div>
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a href="">
                            <div class="carousel-img">
                                <img src="./source/KmLDjjx7UpPG3D6HNfcfHQmenryFBxgA_medium.jpg" alt="" srcset="">
                            </div>
                            <div class="carousel-content">
                                Базалт геосеткаси ва базалт иссиқлик сақловчи плиталари билан янада мустаҳкам
                            </div>
                        </a>
                    </div>
                  </div>
            </div>
        </div>

        <div class="media-news">
            <a class="aylana-label" href="#"><span>Media Yangilikllar</span></a>
            <div class="media-container">
                {% for video in videos %}
                <a href="{{ video.get_absolute_url }}">
                    <div class="media-img"><img src="{{ video.photo.url }}" alt=""></div>
                    <div class="media-container__content">
                        <div><span class="time-ui">{{ video.created_at }}</span></div>
                        <p>{{ video.title }}</p>
                    </div>
                </a>
                {% endfor %}
                
            </div>
        </div>

    </section>


</main>



{% endblock content %}

